/*chloes code css*/

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Secular+One&display=swap');

/* background color for all pages(TBD) */
html {background-color: antiquewhite}

h1 {
     font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
}
/* nav bar */
li, a, button{
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    font-size: 20px; 
    color:#023047;
    text-decoration: none;
}

nav { 
    display: flex;
    justify-content: center;
    /*syntax space-between doesn't work here*/
    align-items: center;
    padding: 30px, 10%; 
    background-color: rgba(251, 133, 0, 0.5);
    /* opacity: 0.5; */
    position: sticky;
    /* border-radius: 50px; */
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #219ebc;
}

button{
    padding: 9px 25px;
    background-color: #8ecae6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    display: block;
}

button:hover{
    background-color: #ffb703;
}

/* team page */
h1{
    font-family:'Press Start 2P', cursive;
    /* display: inline-block; */
    text-align: center;
    color: #219ebc;
}

h2{
    font-family:'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
}

h3{
    /* font-family:'Press Start 2P', cursive; */
    text-align: center;
}

img {
	margin: 0px 60px 8px;
    width: 100px;
    height: 100px;
    position:relative
  }

  .teamMemContainer{
    padding: 32px;
    display: inline-block;
    border: solid;
    margin: 8px 0px 32px;
    position: relative;
    width: 200px;
    height: 300px;
  }

  div:not(:last-child) {
    margin-right: 40px;
  }

  /* div:not(:first-child):not(:last-child) {
    margin-left: 20px;
    margin-right: 20px;
  } */

  .teamMemContainer:hover{
    box-shadow: 5px 5px 5px black;
    border-radius: 2%;
    transition: all 0.3s ease 0s;
  }

  /*arvins code for events page */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Secular+One&display=swap');

html {background-color: antiquewhite}

.event-container {
    font-family: "Times New Roman", Times, serif;
    max-width: 800px;
    margin: 0 auto;
}

.event-container h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}

.event .event-left {
    background: #219EBC;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left .date {
    font-size: 56px;
}

.event .event-left .month {
    font-size: 32px;
    font-weight: normal;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}

.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #218bbb;
    text-transform: uppercase;
}

.event .event-right .event-time {
    background: #fff8ba;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}

.event .event-right .event-time img {
    height: 20px;
    padding-right: 8px;
}

@media (max-width: 550px) {
    .event {
        flex-direction: column;
    }

    .event .event-left {
        padding: 0; 
        border-radius: 8px 8px 0 0;
    }
    
    .event .event-left .event-date .date, .event .event-left .event-date .month {
        display: inline-block;
        font-size: 24px;

    }

    .event .event-left .event-date {
        padding: 10px 0;
    }
}

/* mikes code for aboutus page */
html {background-color: antiquewhite}

.abuh1 {
    font-family:'Press Start 2P', cursive;
    text-align:center;
}

hr.class-2 {
    border-top: 3px double #8c8b8b;
}

