/*chloes code css*/

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Secular+One&display=swap');

html {background-color: antiquewhite}

h1 {
     font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
}
/* nav bar */
li, a, button{
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    font-size: 20px; 
    color:#023047;
    text-decoration: none;
}

nav { 
    display: flex;
    justify-content: center;
    /*syntax space-between doesn't work here*/
    align-items: center;
    padding: 30px, 10%; 
    background-color: rgba(251, 133, 0, 0.5);
    /* opacity: 0.5; */
    position: sticky;
    /* border-radius: 50px; */
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #219ebc;
}

button{
    padding: 9px 25px;
    background-color: #8ecae6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    display: block;
}

button:hover{
    background-color: #ffb703;
}

/* team page */
h1{
    font-family:'Press Start 2P', cursive;
    /* display: inline-block; */
    text-align: center;
    color: #219ebc;
}

h2{
    font-family:'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
}

h3{
    /* font-family:'Press Start 2P', cursive; */
    text-align: center;
}

img {
	margin: 0px 60px 8px;
    width: 100px;
    height: 100px;
    position:relative
  }

  .teamMemContainer{
    padding: 32px;
    display: inline-block;
    border: solid;
    margin: 8px 0px 32px;
    position: relative;
    width: 200px;
    height: 300px;
  }

  div:not(:last-child) {
    margin-right: 40px;
  }

  /* div:not(:first-child):not(:last-child) {
    margin-left: 20px;
    margin-right: 20px;
  } */

  .teamMemContainer:hover{
    box-shadow: 5px 5px 5px black;
    border-radius: 2%;
    transition: all 0.3s ease 0s;
  }